<div class="center" style="padding-top:2em;">
    <%= image_tag "/resources/img/logo.png",:style=>"height:5em;" %>
</div>
<h1 class="white-text flow-text center">S'inscrire au OpenTech4Grils</h1>
<p class="flow-text center">(Date limite : 22 décembre 2017 à 17h00)</p>
<%= render "form" %>
